body {
  font-family: tahoma;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.container{
  margin:0 auto;
  max-width:1200px;
  padding:0 1rem;
}
.responsive-image{
  max-width:100%;
}
.cell img{
  display:block;
}
.cell{
  margin:1rem;
}
@media screen and (min-width: 600px) {
  .grid{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
  }
  .cell{
    width:calc(50% - 2rem);
  }
}
@media screen and (min-width: 1000px) {
  .cell{
    width:calc(100%/3 - 2rem);
  }
}

.l-constrain {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

.title {
  font-size: 3em;
  text-align: center;
  margin-bottom: 2em;
  color: #62576b;
}

.timeline {
  position: relative;
}

.timeline__bar {
  background-color: #ddd;
  width: calc(100% - calc(100% / 7));
  height: 4px;
  margin: 0 auto;
}

.timeline__row {
  display: flex;
  justify-content: space-between;
}
.timeline__row .flex-column {
  flex-basis: calc(100% / 7);
}

.timeline__button {
  height: 20px;
  width: 20px;
  background-color: #92819f;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  transform: translateY(calc(-50% - 2px));
  transition: all 200ms ease-in;
  position: relative;
}
.timeline__button:hover {
  background-color: #e7a5a0;
}
.timeline__button::after, .timeline__button::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  height: 10px;
  width: 10px;
  transition: all 200ms ease-in;
}
.timeline__button::after {
  background-color: #fff;
  border: solid 3px #e7a5a0;
  z-index: -1;
  transition: all 200ms ease-in;
}
.timeline__button::before {
  background-color: #e7a5a0;
}
.timeline__button.is-active {
  background-color: #e7a5a0;
}
.timeline__button.is-active::after {
  opacity: 1;
  width: 40px;
  height: 40px;
}
.timeline__button.is-active::before {
  opacity: 1;
  height: 30px;
  width: 30px;
}

.timeline__content {
  max-width: 830px;
  margin: 60px auto 0;
  position: relative;
}

.timeline__item {
  position: absolute;
  opacity: 0;
  transition: all 300ms ease-in;
}
.timeline__item.is-active {
  opacity: 1;
  left: 0;
}

.timeline__item-row {
  display: flex;
}

.timeline__item-date {
  font-size: 100px;
  font-weight: 700;
  margin-right: 20px;
  color: #e7a5a0;
}

.timeline__item-text h3 {
  font-size: 1.5em;
  margin-bottom: 0.3em;
  color: #62576b;
}
.timeline__item-text p {
  margin-top: 0;
}

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.hvrbox img {
  max-width: 100%;
  max-height: 100%;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}
